
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Frontend_Layout.cshtml";
}


<section id="home">
    <div class="container">
        <div class="row w-100">
            <div class="cols-lg-4 col-md-4 ms-auto me-auto">
                <h2 class="text-center mt-5">LOGIN</h2>

                <form method="post" class="container mt-5" action="~/Account/Login">
                    <div class="form-group mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email Address" required />
                    </div>

                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input type="password" name="pass" class="form-control" placeholder="Enter Password" required />
                    </div>

                    <div class="form-group mb-3">
                        <input type="submit" value="Login" class="btn btn-outline-dark" placeholder="Login" />
                        <p class="text-danger">@ViewBag.emailerror</p>
                        <small>Do not have an Account? <a class="text-primary" href="@Url.Action("Register", "Account")"> CREATE ACCOUNT</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
